<h1>Edit Users</h1>
<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field(:name, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.text_field(:age, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit({ :class => 'btn btn-primary' }) %>
  </p>  
<% end %>