<h1>Users</h1>
<%= link_to 'Back', posts_path %>
&nbsp;
<%= link_to 'View all users', show_all_users_path %>
<hr>
<%= form_for :user, url: users_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field(:name, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.text_field(:age, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit({ :class => 'btn btn-primary' }) %>
  </p>  
<% end %>