<%= link_to 'back', users_path %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Index</th>      
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% sortedUsers = @users.order("updated_at").reverse %>
    <% sortedUsers.each do |user| %>
      <tr>
        <td><%= (sortedUsers.index(user)).to_i+1 %></td>
        <td>
          <%= link_to "#{user.name}", user_path(user.id) %>
        </td>
        <td><%= user.age%></td>
        <td>
          <%= link_to 'edit', edit_user_path(user), :class => 'btn btn-default' %>/
          <%= link_to 'delete', user_path(user), method: :delete, :class => 'btn btn-default' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>